In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import json
data=[]
for pg in range(1,402):
  url=f'https://www.pakwheels.com/used-cars/search/-/?page={pg}'
  request=requests.get(url)
  request=request.content
  soup=BeautifulSoup(request,'html.parser')
  script=soup.find_all('script',type="application/ld+json")[1:]
  for i in script:
    a=json.loads(i.text.strip())
    Name=a['name'].split()[0:2]
    Type=a['@type'][1]
    brand=a['manufacturer']
    modelDate=a['modelDate']
    fuelType=a['fuelType']
    Transmission=a['vehicleTransmission']
    mileage=a['mileageFromOdometer']
    engine=a['vehicleEngine']['engineDisplacement']
    price=a['offers']['price']
    data.append([Name,Type,brand,modelDate,fuelType,Transmission,mileage,engine,price])

In [3]:
len(data)

14286

In [4]:
columns=["Name","Type","brand","modelDate","fuelType","Transmission","mileage","engine","price"]

In [5]:
import pandas as pd
df=pd.DataFrame(data,columns=columns)
df.head()

,Name,Type,brand,modelDate,fuelType,Transmission,mileage,engine,price
0,"[Mercedes, Benz]",Car,Mercedes Benz,2002,Diesel,Automatic,"59,000 km",3200cc,3500000
1,"[Suzuki, Wagon]",Car,Suzuki,2021,Petrol,Manual,"11,000 km",1000cc,2950000
2,"[Toyota, Passo]",Car,Toyota,2018,Petrol,Automatic,"57,000 km",1000cc,3500000
3,"[Toyota, C-HR]",Car,Toyota,2018,Hybrid,Automatic,"65,000 km",1800cc,8700000
4,"[Toyota, Aqua]",Car,Toyota,2014,Hybrid,Automatic,"130,000 km",1500cc,3300000

In [6]:
df.shape

(14286, 9)

In [7]:
df.to_csv('pakwheels_data.csv', index=False)